.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-email{
	background:url('icons/email.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

/******************add by ZHANG start**************************************/
.icon-exit{
	background:url('icons/exit.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock_delete.png') no-repeat center center;
}
.icon-unlock{
	background:url('icons/lock_go.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-application_cascade{
	background:url('icons/application_cascade.png') no-repeat center center;
}
.icon-group{
	background:url('icons/group.png') no-repeat center center;
}
.icon-folder_database{
	background:url('icons/folder_database.png') no-repeat center center;
}
.icon-chart_bar{
	background:url('icons/chart_bar.png') no-repeat center center;
}
.icon-chart_curve{
	background:url('icons/chart_curve.png') no-repeat center center;
}
.icon-chart_line{
	background:url('icons/chart_line.png') no-repeat center center;
}
.icon-chart_pie{
	background:url('icons/chart_pie.png') no-repeat center center;
}

.icon-clock{
	background:url('icons/clock.png') no-repeat center center;
}

.icon-bug{
	background:url('icons/bug.png') no-repeat center center;
}

.icon-phone{
	background:url('icons/phone.png') no-repeat center center;
}

.icon-telephone{
	background:url('icons/telephone.png') no-repeat center center;
}

.icon-date{
	background:url('icons/date.png') no-repeat center center;
}

.icon-cog{
	background:url('icons/cog.png') no-repeat center center;
}

.icon-plugin{
	background:url('icons/plugin.png') no-repeat center center;
}


.icon-port{
	background:url('icons/port.png') no-repeat center center;
}

.icon-log{
	background:url('icons/log.png') no-repeat center center;
}

.icon-black{
	background:url('icons/black.png') no-repeat center center;
}

.icon-white{
	background:url('icons/white.png') no-repeat center center;
}

.icon-addrbook{
	background:url('icons/addrbook.png') no-repeat center center;
}

.icon-book{
	background:url('icons/book.png') no-repeat center center;
}

.icon-key{
	background:url('icons/key.png') no-repeat center center;
}

.icon-computer_error{
	background:url('icons/computer_error.png') no-repeat center center;
}

.icon-computer{
	background:url('icons/computer.png') no-repeat center center;
}

.icon-error{
	background:url('icons/error.png') no-repeat center center;
}

.icon-monitor{
	background:url('icons/monitor.png') no-repeat center center;
}

.icon-enterprise{
	background:url('icons/enterprise.png') no-repeat center center;
}

.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}

.icon-download{
	background:url('icons/download.png') no-repeat center center;
}

.icon-table{
	background:url('icons/table.png') no-repeat center center;
}
.icon-product{
	background:url('icons/product.png') no-repeat center center;
}
.icon-house{
	background:url('icons/house.png') no-repeat center center;
}
.icon-attach{
	background:url('icons/attach.png') no-repeat center center;
}
.icon-info{
	background:url('icons/info.png') no-repeat center center;
}
.icon-qrcode{
	background:url('icons/qrcode.png') no-repeat center center;
}
.icon-flag_red{
	background:url('icons/flag_red.png') no-repeat center center;
}
.icon-flag_green{
	background:url('icons/flag_green.png') no-repeat center center;
}
.icon-flag_blue{
	background:url('icons/flag_blue.png') no-repeat center center;
}
.icon-map{
	background:url('icons/map.png') no-repeat center center;
}
.icon-box{
	background:url('icons/box.png') no-repeat center center;
}
.icon-audit{
	background:url('icons/audit.png') no-repeat center center;
}