/* Custom Styles */
* { margin:0; padding:0; box-sizing:border-box;}
body { background:#fff; font:500 14px/1.428571429 "microsoft yahei","simsun";}
h1, h2, h3, h4, h5, h6 { font-size:100%; line-height:100%;}
ul, ul li { list-style-type:none;}
a { color:#666;}
a:hover { color:#094; text-decoration:none;}
.htit { font-size:16px; height:48px; line-height:48px; padding-left:18px;}
.htit-fregray { background:#f8f8f8; border-bottom:#eee 1px solid;}
.m-btm { margin-bottom:10px;}
.info-list li { background:#f8f8f8; border-bottom:#eee 1px solid; padding:10px 15px; overflow:hidden;}
.info-list li span, .info-list li p { vertical-align:middle; display:table-cell;}
.info-list li span { float:left;}
.tabdiv{width:100%;overflow: hidden;}
.tabdiv table.tabview { width:100%; background:#fff; border-spacing:1px;}
.tabdiv table.tabview thead th, .tabdiv table.tabview tbody td { padding:6px 10px;}
.tabdiv table.tabview thead th { background:#094; border-bottom:#007333 1px solid; color:#fff; text-align:left; white-space:nowrap;}
.tabdiv table.tabview thead th:last-child {}
.tabdiv table.tabview tbody td {word-break: break-all;width:20%;}
.tabdiv table.tabview tbody td span.ungood { color:#f00;}
.tabdiv table.tabview tbody td span.good { color:#094;}
.tabdiv table.tabview tbody tr:nth-child(odd) { background:#f5f5f5;}
.infofrom { padding:0 10px; margin-top:10px;}
.infofrom li { background:#e5e5e5; border-bottom:0; padding:5px 10px;}
.w-slide { padding:0 10px;}
.slidebox { margin:0 auto; width:100%;}
.slidebox .pagination { width:100%; text-align:center;}
.slidebox .pagination li { background:#c8c8c8; display:inline-block; width:10px; height:10px; margin:0 2px; text-indent:-999em; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.slidebox .pagination li.on { background:#094;}
.slidebox .slides li { text-align:center;}
.slidebox .slides li img { background:url(../images/loading.gif) center center no-repeat; vertical-align:top; width:100%;}
.slidebox .slides li a { -webkit-tap-highlight-color:rgba(0,0,0,0);}
.cutline {
	width:100%;
	height:5px;
	margin:15px 0;
	background: -moz-linear-gradient(left, #fff, #228f12, #fff);/*FF*/ 
	background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.5,#228f12), to(#fff));/*old Safari Chrome*/
	background: -webkit-linear-gradient(left, #fff, #228f12, #fff); /*new Safari Chrome*/
	background: -o-linear-gradient(left, #fff, #228f12, #fff);/*Opera*/
}

.span_text{width: 60px;text-align: center;line-height:50px;min-height: 50px}

.p_img a{width:120px;height:120px;display:block;float:left;margin:0 10px;overflow:hidden;-webkit-box-shadow: 0px 5px 4px #cccccc;-moz-box-shadow: 0px 5px 4px #cccccc;box-shadow: 0px 5px 4px #cccccc;}
.p_img a em{background: none repeat scroll 0 0 #000000;color: #fff;display: inline-block;height: 25px;margin: 95px 0 0 -120px;position: absolute;width: 120px;z-index: 10000;font-style:normal;text-align:center;line-height:25px; opacity:0.7;}