@charset "gb2312";
/* CSS Document */
html{ font-size:12px;}
body{ background-color:#DCDCDC;}
body,div,ul,li,img,p{ margin:0; padding:0;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
img{ border:none;}
.clear{ clear:both;}

#menu {  padding: 20px 10px;}
#menu li{ margin: 5px;  width: 40%;}
.btn {
    -moz-user-select: none;
    background: linear-gradient(#FAFAFA, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}
.headerbar{ height:54px; background-color:#444;}
.header{ /*width:300px; min-width:320px;*/ margin:0 auto;/* padding:0 10px;*/}
.logo{ float:left; margin-top:10px; margin-left:10px;}
.logo a img{ width:180px; height:45px;}
.btn_bar{ float:right; margin-top:8px; margin-right:10px;}
.btn_bar a{ display:block;  width:96px; padding-left:12px; height:38px; line-height:38px; font-size:14px; color:#444; background:url(http://m.4493.com/images/btn_cate_big.png) no-repeat;}

#allgirl{ /*width:298px;*/ width:100%; margin:0 auto;  position:absolute; top:57px; z-index:10; display:none;}
#allgirl .contentbox{border:1px solid #E0E0E0; border-radius:5px; margin:0 5px; background-color:#FBFBFB;}
#allgirl ul{ padding:6px 10px; font-size:14px; color:#666; }
#allgirl ul li{ height:36px; line-height:36px; border-bottom:1px solid #E0E0E0; cursor:pointer;}
#allgirl ul li div{ float:left;}
#allgirl ul li span{ background:url(../../image/mobile/icons.png) no-repeat; display:block; width:16px; height:16px; overflow:hidden; float:right; margin-top:10px; text-indent:-9999px;}
#allgirl ul li.on span{background:url(../../image/mobile/icons.png) no-repeat 0px -16px;}
.allbtn{ text-align:center; padding:12px 0px 22px;}
.allbtn a{ display:inline-block; width:90px; height:30px; text-align:center; line-height:30px; color:#666; font-size:14px; background-color:#EEE; border:1px solid #e1e1e1; boder-radius:2px; margin-left:20px;}

.listmain{ /*width:300px;min-width:320px;*/ padding:10px 0px; margin:0 auto; overflow:hidden;width:98%;}
.listmain ul{ /*width:310px;*/display:table; font-size:12px;display: flex; flex-wrap: wrap;/*display: -webkit-flex;-webkit-flex-wrap: wrap;*/}
.listmain ul li{ display:inline-block;
	float:none;
	display:flex;
	align-items:stretch;
	/*background-color:red;*/
	/*min-width:322px;*/
	/*vertical-align:bottom;*/
	vertical-align:bottom;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;/* float:left;margin-right:10px;*/ width:100%; overflow:hidden; text-align:center; /*width:143px;*/ margin-bottom:10px; /*display: -webkit-flex;align-items: stretch;-webkit-box-align: stretch;*/ padding:0 5px; padding-bottom:5px;}
.listmain ul li img{ width:100%; border-radius: 5px 5px 0px 0px;}
.listmain ul li div.libox{align-items:stretch; background-color:#fff; border-radius: 5px; /* margin:0 5px;*/ /*padding:0 5px;*/ height:auto;  width:100%; /*border:1px solid #E0E0E0;*/ box-shadow: 0px 1px 3px rgba(0, 0, 0, .25); }
/*.listmain ul li div.widthbox{ width:100%;}*/
.listmain ul li a p{ color:#333; height:30px; line-height:30px; /*width:138px;*/ text-align:left; overflow:hidden; padding-top:5px; padding-left:5px;}
.listmain ul li div.info{ height:20px; line-height:20px; padding:0 5px; color:#999; padding-bottom:10px; overflow:hidden;/* width:100%;*/}
.listmain ul li div.info span{ float:left; margin-left:5px}
.listmain ul li div.info i,.listmain ul li div.info b{ font-style:normal; float:right; color:#666; display:inline-block; height:16px; /*overflow:hidden;*/ padding-left:20px; margin-left:3px;}
.listmain ul li div.info i{ background:url(../../m.4493.com/images/icons.png) no-repeat 0 -31px;}
.listmain ul li div.info b{ font-weight:normal; background:url(../../m.4493.com/images/icons.png) no-repeat 0 -47px;  padding-left:17px; /*width:28px;*/ }

.morebtn{ display:block;/* width:298px;*/border-radius: 5px;box-shadow: 0px 1px 3px rgba(0, 0, 0, .25); height:38px; line-height:38px; background-color:#fff; border:1px solid #ccc; text-align:center; margin:10px 5px; font-size:14px; color:#666666; margin-bottom:10px;width:96%;}
.morebtn i{ background:url(../../m.4493.com/images/icons.png) no-repeat 0 -64px; display:inline-block; height:16px; width:16px; position:relative; top:2px;}

#footer{ /*width:300px;*/ margin:0 12px; padding:5px 0px; color:#666;}
#footer #footer-inner{ text-align:center; line-height:24px;}
#footer #footer-inner a{ color:#666;}
#footer #footer-inner em{ font-style:normal; padding:0 4px;}
#footbar{ background-color:#444; height:10px;}

.m_adv{  text-align:center; margin:0 5px; margin-bottom:10px; border-radius:5px;}


.pagemain {
    margin: 0 auto;
    overflow: hidden;
    padding: 3px;
}

.pagemain h1 {
    background-color: #F6F6F6;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    font-weight: normal;
    line-height:25px;
    height:50px;
    margin-bottom: 10px;
    padding: 0 5px;
}

.pagemain img {
    width: 100%;
}

.mad_1 img {width:98%;}
.mad_1 {   margin-left: 1px;
    margin-top: 5px;
    padding-top: 10px;padding-bottom: 5px;}
.mad_2 { margin-left: 0px;
    margin-top: 5px;padding-top: 5px;}
.mad_3 { margin-left: 0px;
    margin-top: 5px;padding-top: 5px;}

.red_ad {font-size:20px;color: #FF0000; padding-left: 3px;	}

.mainbox {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 7px #bcbcbc;
    margin: 10px 5px;
}